body {
  background-image: url("https://www.publicdomainpictures.net/download-picture.php?id=150557&check=20d4513f90fccc8a338cabeba61ae365");
  background-size: cover;
  color: #DDDDDD;
}
.onBlack {
  display: inline-block;
  vertical-align: text-top;
  padding-left: 10pt;
}

h1 {
  padding: 5pt;
}

p {
  font-size: 15pt;
}

button {
  font-size: 15pt;
  border-radius: 5pt;
}
