body {
  background-size: cover;
}
.onBlack {
  display: inline-block;
  vertical-align: text-top;
  padding-left: 10pt;
}

h1 {
  padding: 5pt;
}

p {
  font-size: 15pt;
}

button {
  font-size: 15pt;
  border-radius: 5pt;
}

a {
  color: white
}
